*{
    margin: 0;
    padding: 0;
    list-style: none;/*li标签的小点去掉*/
    text-decoration: none;/*a标签的下划线去掉*/
}
html,body{
    width: 100%;
    background-color: #fff;
    height: 600px;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.wrapper .top{
    height: 102.8px;
    /*border: 1px solid black;*/
}
.wrapper .top img{
    width: 305px;
    margin-top:-7px;
    margin-left:140px;
}
.wrapper .body{
    height: 500px;
    background: url(../img/img_login_banner.png) no-repeat center;
    /*border: 1px solid black;*/
}
.wrapper .body .form-box{
    border:10px solid #b0e0c9;
    float: right;
    margin-top: 49px;
    margin-right: 140px;
    background: #ffffff;
    width: 348px;
    height: 430px;
}
/*.wrapper .body .form-box .form-element{*/
    /*width: 280px;*/
    /*margin: 0 auto;*/
/*}*/
.wrapper .body .form-box  .form-title{
    border-bottom: 1px solid rgba(51,122,183, 0.7);
    width: 280px;
    height: 62px;
    margin: 0 auto 40px;

}
.wrapper .body .form-box  .form-title span{
    height: 62px;
    line-height: 62px;
    vertical-align: bottom;
    font-size: 18px;
    display: inline-block;
}
.wrapper .body .form-box  input{
    width: 280px;
    height: 40px;
    border: none;
}

.wrapper .body .form-box  .form-row{
    border: 1px solid rgba(51,122,183, 0.7);
    width: 280px;
    height: 40px;
    margin: 15px auto 0;
}
.wrapper .body .form-box .button-login{
    width: 280px;
    height: 40px;
    margin: 25px auto 0;
}
.wrapper .body .form-box .button-login input{
    background-color: #01b8c0;
    border-style: none;
    border-radius: 5px;
}
.wrapper .foot{
    height: 52px;
    /*border: 1px solid black;*/
}
.wrapper .foot{
    height: 52px;
    line-height: 52px;
    font-size: 12px;
    text-align: center;
    width: 1100px;
    margin: 0 auto;
    color: #878787;
}